 @import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Parastoo&display=swap');

.center-text{
  text-align: center;
}

.center-text > a {
  color: black;
  text-decoration: none;
  font-family: "Parastoo", serif;
}
